.form-group div.box{border:1px solid #9ebbce;padding:6px 12px;border-radius:5px;}
.no{font-size:20px;font-weight:700;}
.separator{padding:2px 10px;clear:both;color:white;font-weight:700;font-size:20px;background:#0082c8;margin-bottom:7px}
.order div{ min-height:18px }
.order:before, .order:after{display:table; content:" " }
.order:after{clear:both}
.form-group{ margin-bottom:15px}
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-12{
  float:left; position:relative; min-height:1px; border:0px solid;
}
.col-sm-2{width:16.66666667%}
.col-sm-3{width:25%}
.col-sm-4{width:33.3%}
.col-sm-5{width:41.6%}
.col-sm-6{width:50%}
.col-sm-7{width:58.3%}
.col-sm-8{width:66.66666667%}
.col-sm-9{width:75%}
.col-sm-10{width:83.33333333%}
.col-sm-12{width:100%}
label{display:inline-block; max-width:100%; font-weight:700; }
img{ width:140px; height:40px }
.col{ height:80px }
.name{font-weight:bold;}
table {width:100%; border-spacing:0}
.sign{text-align:center;border:0;border-bottom:1px solid #9ebbce}
.comment_box {margin-bottom:5px; height:auto;background:#f4f8f9;padding:6px 12px 2px;border:1px solid #c7e6ee;color:#4a5b60}
.comment_box .from {text-align:right;color:gray;font-family:auto;font-size:13px}
.comment_box .from span {margin-left: 5px;}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#pb{page-break-before:always;display:none}